<!DOCTYPE html>
<html>
    <head>
        <title>Your title Here</title>
    </head>
    <body>
        <hr>
        <H1>This is <%=pagename%> page</H1>
        <p>Welcome back, <%=username%></p>
        <hr>
    </body>
</html>